{
    "extends": [
        "next",
        // "airbnb",
        "plugin:react/recommended",
        "prettier",
        // "prettier/react",
        "plugin:@next/next/recommended",
        "plugin:tailwindcss/recommended"
        // "plugin:cypress/recommended"
    ],
    // is throwing an error?
    // "parser": "@babel/eslint-parser",
    // "parserOptions": {
    //     "requireConfigFile": false,
    //     "ecmaVersion": 2020,
    //     // Can I remove these now?
    //     "ecmaFeatures": {
    //         "impliedStrict": true,
    //         "classes": true,
    //         "jsx": true
    //     }
    // },
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "jest": true,
        "es6": true
    },
    "plugins": [
        "prettier",
        "react",
        "jsx-a11y",
        "tailwindcss"
        // "eslint-config-prettier",
        // "eslint-config-next"
    ],
    "globals": {
        "page": true,
        "browser": true,
        "context": true
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "none",
                "singleQuote": false,
                "printWidth": 190,
                "arrowParens": "always",
                "bracketSameLine": true,
                "embeddedLanguageFormatting": "auto",
                "htmlWhitespaceSensitivity": "css",
                "insertPragma": false,
                "jsxSingleQuote": false,
                "proseWrap": "always",
                "quoteProps": "as-needed",
                "requirePragma": false,
                "semi": true,
                "tabWidth": 2,
                "useTabs": true,
                "plugins": ["prettier-plugin-tailwindcss","prettier-eslint"]

            }
        ],
        "react/prop-types": "error",
        "react/no-unescaped-entities": "error",
        // // for use in edge api routes
        // "@next/next/no-server-import-in-page": "error"
    }
}
