
:root {
    @apply text-lg;
}

/* ℹ️ Base selector: body */
/* ✨ TailwindCSS: "font-medium m-0" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
body {
  @apply m-0 antialiased font-medium color-text bg-bg font-quasimoda;
}

/* ℹ️ Base selector: .js .loading::before, .js .loading::after */
/* ✨ TailwindCSS: "fixed" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.js .loading::before,
.js .loading::after {
  @apply fixed;
  content: "";
  z-index: 1000;
}

.js .loading::before {
  /* ✨ TailwindCSS: "h-full top-0 left-0 w-full bg-bg" */
}

/* ℹ️ Base selector: .js .loading::after */
/* ✨ TailwindCSS: "h-16 mr-0 mb-0 -mt-8 -ml-8 w-16" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.js .loading::after {
  @apply w-16 h-16 mb-0 mr-0 -mt-8 -ml-8 top-1/2 left-1/2 animate-custom-loading;
  border-radius: 50%;
  opacity: 0.4;
}

/* ℹ️ Base selector: a */
/* ✨ TailwindCSS: "no-underline focus:bg-transparent" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
/* focus:bg-transparent  */
a {
  @apply no-underline outline-none hover:color-link-hover focus:bg-lightgrey focus-visible:outline-2 focus-visible:outline focus-visible:outline-red-500 focus-visible:bg-transparent;
}


.unbutton {
  @apply border-0 bg-none padding-0 margin-0 focus:outline-none;
  /* font: inherit; */
}

.frame__title {
  grid-area: title;
}

/* ℹ️ Base selector: .frame__links */
/* ✨ TailwindCSS: "inline justify-self-start text-center" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.frame__links {
  grid-area: links;
}

/* ℹ️ Base selector: .frame__links a:not, :last-child */
/* ✨ TailwindCSS: "mr-4" */
.frame__links a:not(:last-child) {
	/* margin-right: 1rem; */
  @apply mr-4;
}

.frame__demos {
  @apply mx-0 my-4;
}


.frame__demo--current {
  @apply color-text hover:color-text;
}

/* ℹ️ Base selector: .image > .image__element, .image__wrap */
/* ✨ TailwindCSS: "h-full relative w-full" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.image > .image__element,
.image__wrap {
  @apply relative w-full h-full;
  transform-origin: inherit;
  grid-area: 1 / 1 / 2 / 2;
  will-change: transform;
  border-radius: inherit;
}

.image__wrap {
  /* ✨ TailwindCSS: "overflow-hidden" */
}

/* ℹ️ Base selector: .image__element */
/* ✨ TailwindCSS: "bg-cover h-full w-full" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.image__element {
  @apply w-full h-full bg-cover bg-fifty-fifty;
  /* background-position: 50% 50%; */
}

/* ℹ️ Base selector: .frame__demo--current, .frame__demo--current */
/* ❌ Could not match any TailwindCSS classes. */

@media screen and (min-width: 53em) {
	.frame {
		text-align: left;
		display: grid;
		grid-template-columns: 25% 50% 25%;
		grid-template-areas: 'links title sponsor';
		justify-content: space-between;
		align-items: baseline;
	}
}
