/* note: https://marketplace.visualstudio.com/items?itemName=csstools.postcss - allowes @ directives to be allowed  */
/* note: removed to match the original project, no defaults needed: @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
    @apply text-lg;
    /* note: line height gets turned on with text-lg so need to remove it */
    line-height: 0;
}

body {
  @apply m-0 antialiased font-medium text-text bg-bg font-quasimoda;
}

/* ℹ️ Base selector: .image > .image__element, .image__wrap */
/* ✨ TailwindCSS: "h-full relative w-full" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.image > .image__element,
.image__element,
.image__wrap {
  @apply relative w-full;
  /* h-full; */
  transform-origin: inherit;
  grid-area: 1/1/2/2;
  will-change: transform;
  border-radius: inherit;
}
